<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ page.title | escape }}</title>
        <style>
            body { max-width: 50em; padding: 2em; margin: 0 auto }
            h1 { border-bottom: medium solid }
            footer { border-top: thin solid }
            img { max-width: 100%; height: auto }
        </style>
         <link rel="alternate" type="application/rss+xml" href="/rss.xml">
    </head>
    <body>

        <h1>{{ page.title | escape }}</h1>
        {{ content }}

        <footer>
            <p>
                © dk487
                | <a href="/rss.xml">RSS</a>
                | <a href="https://github.com/dk487/test.de.co.ua">Github</a>
            </p>
        </footer>

    </body>
</html>
