---
layout: default
---

<div itemscope itemtype="http://schema.org/BlogPosting">

<h1 itemprop="name headline"
{%- if page.title_lang %} lang="{{ page.title_lang }}"
{%- endif %}>{%- if page.draft -%}[DRAFT] {% endif -%}
{{ page.title | markdownify | remove: '<p>' | remove: '</p>' | strip }}</h1>

<p>
  <em>
    <time datetime="{{ page.date | date: '%Y-%m-%dT%H:%M:%S%:z' }}" itemprop="datePublished">
{%- if page.lang %}
      {{ page.date | date: '%Y-%m-%d %H:%M' }}.
{%- else -%}
{%-   capture _dow -%}
{%      include ua_dow.html date=page.date -%}
{%-   endcapture -%}
{%-   capture _date -%}
{%-     include ua_date.html date=page.date -%}
{%-   endcapture %}
      {{ _dow | strip }}, {{ _date | strip }}.
{%- endif %}
    </time>
{%- if page.mtime -%}
{%-   assign _t1 = page.date | date: '%s' -%}
{%-   assign _t2 = page.mtime | date: '%s' -%}
{%-   assign _dt = _t2 | minus: _t1 -%}
{%-   if _dt > 3600 %}
    <br>
    <time datetime="{{ page.mtime | date: '%Y-%m-%dT%H:%M:%S%:z' }}" itemprop="dateModified">
{%-     if page.lang %}
      <span lang="en">Updated {{ page.mtime | date: '%Y-%m-%d %H:%M' }}</span>.
{%-     else -%}
{%-       capture _date %}
{%          include ua_date.html date=page.mtime -%}
{%        endcapture %}
      Оновлено {{ _date | strip }}.
{%-     endif %}
    </time>
{%-   endif %}
{%- endif %}
  </em>
</p>

<div itemprop="articleBody">
{{ content }}
</div>

</div>
